<footer class="page-footer">
  <div class="container">
    <div class="page-footer__inner">
      <img src="website-secure.png" alt="" width="257" height="62">
      <img src="USPS.png" alt="" width="179" height="46">
      <p>We are committed to maintaining the highest quality products and the utmost integrity in business practices. All products sold on this website are certified by Good Manufacturing Practices (GMP), which is the highest standard of testing in the supplement industry.</p>
      <p>Notice: The products and information found on this site are not intended to replace professional medical advice or treatment. These statements have not been evaluated by the Food and Drug Administration. These products are not intended to diagnose, treat, cure or prevent any disease. Individual results may vary.</p>
      ${ require('/src/components/extra/nav/nav.html') }
      ${ require('/src/components/extra/social-links/social-links.html') }
      <p>© 2022 GoKeto Capsules. All Rights Reserved.</p>
    </div>
  </div>
</footer>
<!-- /.page-footer -->