@font-face {
  font-family: Lato;
  src: local("Lato Regular"),
    local("Lato-Regular"),
    url("Lato-Regular.woff2") format("woff2"),
    url("Lato-Regular.woff") format("woff");

  // font-display: swap;
  font-display: optional;
  font-weight: 400;
  font-style: normal;
}