$c-page-text-primary: var(--black-primary);
$c-page-bg-primary: var(--grey-primary);
$c-page-bg-secondary: var(--red-primary);
$c-page-header-bg: var(--blue-secondary);
$c-page-content-bg: var();
$c-page-footer-bg: var();