<main class="page-content">
  <h1>Hello world</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum nemo cum totam, consequuntur modi accusamus in porro doloremque velit repellat itaque voluptates, deserunt asperiores nobis? Perferendis architecto ab omnis sequi!</p>
  <img width="200" height="200" src="../page/smile.svg" alt="smile icon">
  <svg width="20" height="20">
    <use xlink:href="assets/images/svg/svg-icons-sprite.svg#facebook"></use>
  </svg>
</main>
<!-- /.page-content -->