body {
  margin-left: auto;
  margin-right: auto;
  max-width: $w-container-mob;
  position: relative;
}

body::before {
  --columns: 3;

  content: "";
  position: absolute;
  inset: 0 $gap 0 0;
  background-image: repeating-linear-gradient(to right, transparent 0 $gap, rgb(241, 130, 141) $gap calc(100% / var(--columns)));
  z-index: 1;
}


@media (min-width: $bp-sm) {

  body::before {
    --columns: 6;
  }
}

@media (min-width: $bp-md) {

  body::before {
    --columns: 9;
  }
}

@media (min-width: $bp-lg) {

  body::before {
    --columns: 12;
  }
}